* {
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
}

html, body, div {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

div.taskbar {
    display: flex;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-top: 1px solid gray;
    align-items: center;
}

div.quickaction {
    background-color: #00000000;
    ;
}
div.wifilogo {
    background-color: #00000000;
}

p.time {
    margin-left: auto;
    text-align: center;
    margin-right: 10px;
    padding: 3px;
}
p.time:hover {
    background-color: #7F7F7F40;
    border-radius: 5px;
}
p.time:active {
    background-color: #60606040;
    color: lightgray;
}